* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background body */
body {
  background: linear-gradient(to bottom, #f2f2f2, #87CEEB) no-repeat;
  height: 100vh;
}

/* Title */
h1 {
  color: #63a8dc;
  text-align: center;
  font-size: 2.5em;
  margin: 2.5rem 0;
}

/* List style */
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}

li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #f9f9f9;
}

/* Link style */
a {
  text-decoration: none;
  color: #333;
}


/******* Page inspectionDétails *******/

/* Button Back to Home */
.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #87CEEB;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 20px 20px 0;
  cursor: pointer;
  color: whitesmoke;
  transition: ease-in 0.25s;
}

button:hover {
  background-color: white;
  border: black solid 1px;
  color: #87CEEB;
}

/* Details Infos styles */
h2 {
  color: #63a8dc;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.5rem;

}

p {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px auto;
  width: 66%;
}

/*** Responsive ***/

@media screen and (max-width: 600px) {
  p {
    width: 80%;
    text-align: center;
  }

  li {
    width: 80%;
    margin: 10px auto;
  }

  h1 {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }
  
}
